h1, h2, h3 {
    font-style: bold;
}

h1, h2 {
    color: steelblue;
}
h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
    color: #999999;
}

label span, .selectize-dropdown, .selectize-input {
    font-size: 10px;
}

label.control-label {
    font-size: 1.1em;
    font-weight: 800;
    color: #999999;
}

tfoot {
    display: table-header-group;
}

table {
    font-size: 11px;
}

.text-small {
    font-size: 12px;
    font-style: italic;
}

label[for=studios_studio1] {
    color: #1f77b4;
}

label[for=studios_studio2] {
    color: #ff7f0e;
}

label[for=studios_studio3] {
    color: #2ca02c;
}

label[for=actors_actor1] {
    color: #1f77b4;
}

label[for=actors_actor2] {
    color: #ff7f0e;
}

label[for=actors_actor3] {
    color: #2ca02c;
}

label[for=directors_director1] {
    color: #1f77b4;
}

label[for=directors_director2] {
    color: #ff7f0e;
}

label[for=directors_director3] {
    color: #2ca02c;
}

label[for=producers_producer1] {
    color: #1f77b4;
}

label[for=producers_producer2] {
    color: #ff7f0e;
}

label[for=producers_producer3] {
    color: #2ca02c;
}